*{
    margin: 0;
    padding: 0;
}
.main{
  background-image: url("asset/image/bg.jpg");
  height: 80vh;
}  

.main.box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
}

